@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Noto+Sans+SC&family=Nunito&family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Source+Sans+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  font-family: 'Fira Code', monospace;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
  background-color: #1c2237;
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-slider-thumb {
  background: #123bcf;
}

.sidebar-nav {
  width: 5rem;
  height: 100vh;
  background-color: #252d47;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}

.sidebar-nav .sidebar-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.sidebar-nav .sidebar-ul .sidebar-li {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-nav .sidebar-ul .sidebar-li a {
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-nav .sidebar-ul .sidebar-li a svg {
  height: 30px;
}

main {
  margin-left: 5rem;
}

main header {
  background: #3c4564;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(13, 13, 13, 0.5);
          box-shadow: 0px 2px 12px 1px rgba(13, 13, 13, 0.5);
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 0;
}

main header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header form .form-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  margin-right: 5px;
}

main header form .form-btn-container button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
}

main header form .form-btn-container button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header form .input-container {
  width: 500px;
}

main header form .input-container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border: 0px solid #000;
  outline: none;
}

main header form .input-container label input {
  color: #ffffff;
  background: #3c4564;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: 0px solid #000;
  outline: none;
}

main header .user-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .user-display .notification-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  background: #3c4564;
  position: relative;
}

main header .user-display .notification-container button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
  background: #3c4564;
}

main header .user-display .notification-container button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .user-display .notification-container .count {
  background-color: #2626e7;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -5px;
}

main header .user-display .user-image-container {
  margin-left: 25px;
}

main header .user-display .user-image-container .user-image {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  white-space: nowrap;
  background: #979797;
  border-radius: 5px;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

main header .user-display .user-image-container .user-image img {
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-drag: none;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section {
  padding: 1rem;
}

main section .currency-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}

main section .currency-main .currency-header-text {
  color: #ffffff;
}

main section .currency-main .currency-header-text p {
  font-size: 35px;
  line-height: 20px;
  font-weight: 600px;
}

main section .currency-main .currency-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  margin: 10px 0 20px 0px;
}

main section .currency-main .currency-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section .currency-main .currency-display .currency-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  margin-right: 25px;
  -webkit-filter: blur(0.32px);
          filter: blur(0.32px);
}

main section .currency-main .currency-display .currency-list button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
}

main section .currency-main .currency-display .currency-list button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .currency-main .currency-display .currency-list button .svg-container img {
  width: 45px;
  height: 45px;
}

main section .stock-container-display {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 200px 200px 350px;
      grid-template-columns: 1fr 200px 200px 350px;
  grid-gap: 20px;
  margin: 50px 0;
}

main section .stock-container-display .stock {
  border-radius: 10px;
  height: 260px;
  padding: 20px;
  position: relative;
}

main section .stock-container-display .first-stock-container {
  border: solid 1px #191e30;
  background: #252d47;
  -webkit-box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
          box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
  background-image: url("../images/dele.svg"), url("../images/firstbg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom, center 100px;
}

main section .stock-container-display .first-stock-container .stock-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .stock-container-display .first-stock-container .stock-details-container .stock-main-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .stock-container-display .first-stock-container .stock-details-container .stock-main-price .stock-current-balance {
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 25px;
}

main section .stock-container-display .first-stock-container .stock-details-container .stock-main-price .stock-price {
  color: #ffffff;
  font-size: 30px;
}

main section .stock-container-display .first-stock-container .stock-details-container .rate-stock-price {
  color: #0ed198;
  font-size: 15px;
}

main section .stock-container-display .first-stock-container .stock-details-container .rate-stock-price span {
  margin-right: 5px;
}

main section .stock-container-display .first-stock-container .drag-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #7676ff;
  position: absolute;
  bottom: 76px;
  right: 140px;
}

main section .stock-container-display .first-stock-container .drag-price .drag-pointer {
  height: 15px;
  width: 15px;
  background: #7676ff;
  border: 3px solid #ffffff;
  border-radius: 100vh;
  -webkit-box-shadow: 0px 2px 20px #7676ff;
          box-shadow: 0px 2px 20px #7676ff;
  margin-top: 5px;
}

main section .stock-container-display .second-stock-container {
  border: solid 1px #191e30;
  background: #252d47;
  -webkit-box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
          box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
  background-image: url("../images/sec.svg"), url("../images/second-stockline-.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom, center 148px;
}

main section .stock-container-display .second-stock-container .stock-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .stock-container-display .second-stock-container .stock-price-container .stock-main-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .stock-container-display .second-stock-container .stock-price-container .stock-main-price .stock-current-balance {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 25px;
}

main section .stock-container-display .second-stock-container .stock-price-container .stock-main-price .stock-price {
  color: #ffffff;
  font-size: 30px;
}

main section .stock-container-display .second-stock-container .drag-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: initial;
  color: #fba165;
  position: absolute;
  bottom: 40px;
  left: 34px;
}

main section .stock-container-display .second-stock-container .drag-price .drag-pointer {
  height: 15px;
  width: 15px;
  background: #fba165;
  border: 3px solid #ffffff;
  border-radius: 100vh;
  -webkit-box-shadow: 0px 2px 20px #fba165;
          box-shadow: 0px 2px 20px #fba165;
  margin-top: 5px;
}

main section .stock-container-display .third-stock-container {
  border: solid 1px #191e30;
  background: #252d47;
  -webkit-box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
          box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
  background-image: url("../images/tir.svg"), url("../images/third-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom, center 150px;
}

main section .stock-container-display .third-stock-container .stock-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .stock-container-display .third-stock-container .stock-price-container .stock-main-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .stock-container-display .third-stock-container .stock-price-container .stock-main-price .stock-current-balance {
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 25px;
}

main section .stock-container-display .third-stock-container .stock-price-container .stock-main-price .stock-price {
  color: #ffffff;
  font-size: 30px;
}

main section .stock-container-display .third-stock-container .drag-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #13d0a7;
  position: absolute;
  bottom: 72px;
  left: 37px;
}

main section .stock-container-display .third-stock-container .drag-price .drag-pointer {
  height: 15px;
  width: 15px;
  background: #13d0a7;
  border: 3px solid #ffffff;
  border-radius: 100vh;
  -webkit-box-shadow: 0px 2px 20px #13d0a7;
          box-shadow: 0px 2px 20px #13d0a7;
  margin-top: 5px;
}

main section .stock-container-display .fourth-stock-container {
  border: solid 1px #191e30;
  background: #252d47;
  -webkit-box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
          box-shadow: 0px 2px 48px 1px rgba(23, 27, 41, 0.43);
  background-image: url("../images/four.svg"), url("../images/fourth-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom, center 110px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 10px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price .btn-container button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price .btn-container button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price .btn-container button .svg-container img {
  width: 40px;
  height: 40px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price .stock-balance {
  color: #ffffff;
  font-size: 16px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-main-price .stock-price {
  color: #ffffff;
  font-size: 15px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-price-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-price-display .stock-header-price {
  color: #ff8309;
  font-size: 15px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-price-display .rate-stock-price {
  font-size: 15px;
  color: #ff3636;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-price-display .rate-stock-price span {
  margin-right: 5px;
}

main section .stock-container-display .fourth-stock-container .stock-price-container .stock-price-display .rate-stock-price span img {
  height: 12px;
}

main section .stock-container-display .fourth-stock-container .scroll-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

main section .stock-container-display .fourth-stock-container .scroll-btn button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
}

main section .stock-container-display .fourth-stock-container .scroll-btn button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .stock-container-display .fourth-stock-container .drag-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ff8006;
  position: absolute;
  bottom: 98px;
  left: 113px;
}

main section .stock-container-display .fourth-stock-container .drag-price .drag-pointer {
  height: 15px;
  width: 15px;
  background: #ff8006;
  border: 3px solid #ffffff;
  border-radius: 100vh;
  -webkit-box-shadow: 0px 2px 20px #ff8006;
          box-shadow: 0px 2px 20px #ff8006;
  margin-top: 5px;
}

main section .assets-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  grid-gap: 20px;
}

main section .assets-container .assets-display {
  border: solid 1px #191e30;
  background: #252d47;
  -webkit-box-shadow: 0px 2px 48px rgba(23, 27, 41, 0.42);
          box-shadow: 0px 2px 48px rgba(23, 27, 41, 0.42);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

main section .assets-container .assets-display .assets-border-container {
  padding: 20px 0;
  border-bottom: 1px solid #d6d9e0;
}

main section .assets-container .assets-display .assets-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .assets-container .assets-display .assets-header .header-display {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

main section .assets-container .assets-display .assets-header .start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section .assets-container .assets-display .assets-currency-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .assets-container .assets-display .assets-currency-display .k {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .assets-container .assets-display .assets-currency-display .assets-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section .assets-container .assets-display .assets-currency-display .assets-currency p {
  margin-left: 10px;
}

main section .assets-container .assets-display .assets-currency-display .assets-currency button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
}

main section .assets-container .assets-display .assets-currency-display .assets-currency button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .assets-container .assets-display .assets-currency-display .assets-currency button .svg-container img {
  height: 30px;
  width: 30px;
}

main section .assets-container .assets-display .assets-currency-display .assets-rate {
  color: #ff3636;
}

main section .assets-container .assets-display .assets-currency-display .assets-rate span {
  margin-right: 10px;
}

main section .assets-container .assets-display .assets-currency-display .assets-rate span img {
  height: 13px;
}

main section .assets-container .assets-display .assets-currency-display .good-assets-rate {
  color: #13d0a7;
}

main section .assets-container .assets-display .assets-currency-display .good-assets-rate span {
  margin-right: 10px;
}

main section .assets-container .assets-display .assets-currency-display .good-assets-rate span img {
  height: 13px;
}

main section .assets-container .operations {
  border: solid 1px #191e30;
  background: #252d47;
  -webkit-box-shadow: 0px 2px 48px rgba(23, 27, 41, 0.42);
          box-shadow: 0px 2px 48px rgba(23, 27, 41, 0.42);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

main section .assets-container .operations .operations-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .assets-container .operations .operations-display .operations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section .assets-container .operations .operations-display .operations-container a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display .operations-currency-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display .operations-currency-detail .operations-currency-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0px solid #000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font: inherit;
  vertical-align: baseline;
  margin-right: 10px;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display .operations-currency-detail .operations-currency-type button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display .operations-currency-detail .operations-currency-type button .svg-container {
  cursor: pointer;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display .operations-currency-detail .operations-currency-type button .svg-container img {
  height: 40px;
  height: 40px;
}

main section .assets-container .operations .operations-display .operations-container a .operations-details-display .operations-price {
  color: #13d0a7;
  font-size: 26px;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */