@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Noto+Sans+SC&family=Nunito&family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Source+Sans+Pro&display=swap');

$nav-width-main-margin: 5rem;


$paragraph-size: 17px;
$color-white: #ffffff;
$stock-font-size: 15px;
$current-balance-font-size: 30px;

@mixin stockBg($bgImage) {
    border: solid 1px #191e30;
    background: #252d47;
    box-shadow: 0px 2px 48px 1px rgba(23,27,41,0.43);
    background-image: url($bgImage);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

@mixin button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 0px solid #000;
    align-items: stretch;
    font: inherit;
    vertical-align: baseline;
}

@mixin svg-btn {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;
    outline: none;
}

@mixin svg-container {
    cursor: pointer;
    vertical-align: baseline;
    border: 0 solid #000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    font-family: 'Fira Code', monospace; 
}

body {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14px;
    line-height: 18px;
    height: 100%;
    background-color: #1c2237;
    color: #ffffff;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: rgb(0, 0, 0);
    }

    &::-webkit-slider-thumb {
        background: #123bcf;
    }


}

.sidebar-nav {
    width: $nav-width-main-margin;
    height: 100vh;
    background-color: #252d47;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;

    .sidebar-ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;

        .sidebar-li {
            width: 100%;
            padding: 20px 0;
            // border-left: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            


            a {
                text-decoration: none;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 30px;
                }
            }
        }
    }
}

main {
    margin-left: $nav-width-main-margin;
    // padding: 1em;

    header {
        background: #3c4564;
        box-shadow: 0px 2px 12px 1px rgba(13,13,13,0.5);
        padding: 10px 30px;
        // position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 0;

        form {
            display: flex;
            flex-direction: row;
            align-items: center;

            .form-btn-container {
                @include button-container();
                margin-right: 5px;

                button {
                    @include svg-btn();

                    .svg-container {
                        @include svg-container();
                    }
                }
            }

            .input-container {
                width: 500px;
                label {
                    display: flex;
                    height: 36px;
                    flex: 1 0 0;
                    border: 0px solid #000;
                    outline: none;
                    input {
                        color: #ffffff;
                        background: #3c4564;
                        width: 100%;
                        height: 100%;
                        padding: 0 10px;
                        border: 0px solid #000;
                        outline: none;
                    }
                }
            }

        }


        .user-display {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .notification-container {
                @include button-container();
                background: #3c4564;
                position: relative;
                button {
                    @include svg-btn();
                    background: #3c4564;

                    .svg-container {
                        @include svg-container();
                    }
                }

                .count {
                    background-color: #2626e7;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: center;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                }
            }

            .user-image-container {
                margin-left: 25px;
                .user-image {
                    color: rgba(var(--i1d,38,38,38),1);
                    white-space: nowrap;
                    background: #979797;
                    border-radius: 5px;
                    display: block;
                    flex: 0 0 auto;
                    overflow: hidden;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
    
                    img {
                        white-space: nowrap;
                        cursor: pointer;
                        -webkit-user-drag: none;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            
        }
        
    }

    section {
        padding: 1rem;

        .currency-main {
            display: flex;
            flex-direction: column;
            margin: 30px 0;

            .currency-header-text {
                color: #ffffff;
                p {
                    font-size: 35px;
                    line-height: 20px;
                    font-weight: 600px;
                }
            }

            .currency-text {
                color: rgba(255,255,255,0.6);
                font-size: 13px;
                // line-height: 15px;
                margin: 10px 0 20px 0px;
            }

            .currency-display {
                display: flex;
                align-items: center;
                flex-direction: row;

                .currency-list {
                    @include button-container();
                    margin-right: 25px;
                    filter: blur(0.32px);
                    
                    
                    

                    button {
                        @include svg-btn();
                        

                        .svg-container {
                            @include svg-container();
                            
                            
                            img {
                                width: 45px;
                                height: 45px;
                            }
                        }
                    }
                }

            }
        }





        .stock-container-display {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 200px 200px 350px;
            grid-gap: 20px;
            margin: 50px 0;


            .stock {
                border-radius: 10px;
                height: 260px;
                padding: 20px;
                position: relative;
            }

            .first-stock-container {
                @include stockBg("../images/dele.svg");
    
                .stock-details-container {
                    display: flex;
                    justify-content: space-between;
    
                    .stock-main-price {
                        display: flex;
                        flex-direction: column;
    
                        .stock-current-balance {
                            color: $color-white;
                            font-size: $paragraph-size;
                            padding-bottom: 25px;
                        }
        
                        .stock-price {
                            color: $color-white;
                            font-size: $current-balance-font-size;
                        }
                    }
    
                    .rate-stock-price {
                        color: #0ed198;
                        font-size: $stock-font-size;
    
                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }




            .second-stock-container {
                @include stockBg("../images/sec.svg");
    
                .stock-price-container {
                    display: flex;
                    justify-content: space-between;
    
                    .stock-main-price {
                        display: flex;
                        flex-direction: column;
    
                        .stock-current-balance {
                            color: $color-white;
                            font-size: $paragraph-size;
                            margin-bottom: 25px;
                        }
        
                        .stock-price {
                            color: $color-white;
                            font-size: $current-balance-font-size;
                            
                        }
                    }
                }
            }





            .third-stock-container {
                @include stockBg("../images/tir.svg");
    
                .stock-price-container {
                    display: flex;
                    justify-content: space-between;
    
                    .stock-main-price {
                        display: flex;
                        flex-direction: column;
    
                        .stock-current-balance {
                            color: $color-white;
                            font-size: $paragraph-size;
                            padding-bottom: 25px;
                        }
        
                        .stock-price {
                            color: $color-white;
                            font-size: $current-balance-font-size;
                            
                        }
                    }
                }
            }



            .fourth-stock-container {
                @include stockBg("../images/four.svg");
    
                .stock-price-container {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
    
                    .stock-main-price {
                        display: flex;
                        flex-direction: row;

                        .btn-container {
                            @include button-container();
                            align-items: flex-start;
                            margin-right: 10px;

                            button {
                                @include svg-btn();
                                align-items: flex-start;

                                .svg-container {
                                    @include svg-container();
                                    align-items: flex-start;

                                    img {
                                        width: 40px;
                                        height: 40px;
                                    }
                                }

                                
                            }
                        }
    
                        .stock-balance {
                            color: $color-white;
                            font-size: 16px;
                            // padding-bottom: 25px;
                        }
        
                        .stock-price {
                            color: $color-white;
                            font-size: 15px;
                            
                            
                        }
                    }



    
                    .stock-price-display {
                        display: flex;
                        flex-direction: column;

                        .stock-header-price {
                            color: #ff8309;
                            font-size: 15px;
                        }
                        .rate-stock-price {
                            font-size: $stock-font-size;
                            color: #ff3636;
        
                            span {
                                margin-right: 5px;

                                img {
                                    height: 12px
                                }
                            }
                        }
                    }
                }

                .scroll-btn {
                    @include button-container();
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    button {
                        @include svg-btn();

                        .svg-container {
                            @include svg-container();
                        }
                    }
                }
            }
        }



        .assets-container {
            display: grid;
            // align-items: center;
            grid-template-columns: 1fr 500px;
            grid-gap: 20px;

            .assets-display {
                border: solid 1px #191e30;
                background: #252d47;
                box-shadow: 0px 2px 48px rgba(23,27,41,0.42);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding: 20px;

                .assets-border-container {
                    padding: 20px 0;
                    border-bottom: 1px solid #d6d9e0;
                    // min-height: 50px;
                }

                .assets-header {
                    display: flex;
                    align-items: center;
                    .header-display {
                        width: 100%;
                        justify-content: flex-end;
                        display: flex;
                        align-items: center;
                        font-size: $paragraph-size;
                    }

                    .start {
                        justify-content: flex-start;
                    }


                }

                .assets-currency-display {
                    display: flex;
                    align-items: center;
                    .k {
                        // align-items: flex-end;
                        width: 100%;
                        justify-content: flex-end;
                        display: flex;
                        align-items: center;
                    }

                    .assets-currency {
                        @include button-container();
                        align-items: center;
                        justify-content: flex-start;

                        p {
                            margin-left: 10px;
                        }

                        button {
                            @include svg-btn();

                            .svg-container {
                                @include svg-container();

                                img {
                                    height: 30px;
                                    width: 30px;
                                }
                            }
                        }
                    }

                    .assets-rate {
                        color: #ff3636;
                        span {
                            margin-right: 10px;

                            img {
                                height: 13px;
                            }
                        }
                    }
                    .good-assets-rate {
                        color: #13d0a7;

                        span {
                            margin-right: 10px;

                            img {
                                height: 13px;
                            }
                        }
                    }


                }

                
            }














            .operations {
                border: solid 1px #191e30;
                background: #252d47;
                box-shadow: 0px 2px 48px rgba(23,27,41,0.42);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding: 20px;

                .operations-display {
                    display: flex;
                    flex-direction: column;

                    .operations-container {
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        a {
                            text-decoration: none;
                            color: inherit;
                            width: 100%;

                            .operations-details-display {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 15px 0;

                                .operations-currency-detail {
                                    display: flex;
                                    flex-direction: row;

                                    .operations-currency-type {
                                        @include button-container();
                                        margin-right: 10px;

                                        button {
                                            @include svg-btn();

                                            .svg-container {
                                                @include svg-container();

                                                img {
                                                    height: 40px;
                                                    height: 40px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .operations-price {
                                    color: #13d0a7;
                                    font-size: 26px;
                                    font-weight: 400;
                                    // line-height: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}














